.container{
    width: 80vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 6vh;
    left: 20vw;
    font-family: var(--font-main);
    font-weight: 600;
    color: var(--bg-blue);
}

.number{
    width: 2.6vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background-color: var(--bg-gray);
    border-radius: 8px;
    cursor: pointer;
}

.active{
    width: 3vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background-color: var(--bg-blue);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .container{
        display: none;
    }
}